version: '3.8'

services:
  backend:
    build: ./server        # Indica a Docker di entrare nella cartella server
    image: hello-backend
    ports:
      - "8000:8000"        # Mappa la porta locale 8000 a quella del container
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=8000          # Comunica al Dockerfile di Python quale porta usare

  frontend:
    build: ./frontend      # Indica a Docker di entrare nella cartella frontend
    image: hello-frontend
    ports:
      - "8080:8080"        # Usiamo 8080 per essere coerenti con Nginx e Cloud Run
    depends_on:
      - backend